.btn-custom-primary {
    outline: none;
    color: white;
    background-color: #ef3a76;
    border: none;
    transition: box-shadow 250ms, background-color 250ms;
}

.btn-custom-primary:hover {
    color: white;
    background-color: #ef3a76;
    box-shadow: 0 0 10px #ef3a76;
}
.btn-custom-primary:active {
    background-color: #f30e5a;
    box-shadow: 0 0 15px #f30e5a;
}

.custom-select {
    font-weight: 400;
    width: 150px;
    text-align: left;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #aaa;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.w-300px {
    width: 300px;
}

.custom-text {
    font-weight: 400;
    text-align: left;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #aaa;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}