{% extends 'users/base.html' %}
{% block title %} Offers {% endblock title%}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page"><a href="{% url 'dashboard' %}">Profile</a></li>
      <li class="breadcrumb-item active" aria-current="page">Offers</li>
    </ol>
  </nav>
  <h2 class="mb-3">My Offers</h2>
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Job Title</th>
          {% if user.is_candidate %}
          <th>Company</th>
          {% else %}
          <th>Candidate</th>
          {% endif %}
          <th>Salary</th>
          <th>Expiration Date</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for offer in offers %}
          <tr>
            <td class="align-middle"><a href="{% url 'post-detail' offer.post.pk %}">{{ offer.post.title }}</a></td>
            {% if user.is_candidate %}
            <td class="align-middle">{{ offer.post.company }}</td>
            {% else %}
            <td class="align-middle"><a href="{% url 'candidate-detail' offer.candidate.user %}">{{ offer.candidate }}</a></td>
            {% endif %}
            <td class="align-middle">${{ offer.salary }}</td>
            <td class="align-middle">{{ offer.expiration_date }}</td>
            {% if offer.accepted %}
            <td class="align-middle"><div class="d-flex jc-fe"><span class="btn btn-success">Accepted</span></div></td>
            {% elif offer.declined %}
            <td class="align-middle"><div class="d-flex jc-fe"><span class="btn btn-danger">Declined</span></div></td>
            {% elif offer.is_expired %}
            <td class="align-middle"><div class="d-flex jc-fe"><span class="btn btn-secondary">Expired</span></div></td>
            {% else %}
              {% if user.is_candidate %}
              <td class="align-middle">
                <div class="d-flex gap-10 jc-fe f-wrap">
                  <a href="{% url 'accept-offer' offer.pk %}" class="btn btn-custom-primary" role="button">Accept Offer</a>
                  <a href="{% url 'decline-offer' offer.pk %}" class="btn btn-secondary" role="button">Decline Offer</a>
                </div>
              </td>
              {% elif user.is_recruiter %}
              <td class="align-middle"><a href="" class="btn mb-3" role="button">Awaiting</a></td>
              {% endif %}
            {% endif %}
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="7">There are no offers yet.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}