{% extends 'users/base.html' %}
{% block title %} Create Post {% endblock title%}

{% load crispy_forms_tags %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'list-posts' %}">Posts</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create Post</li>
        </ol>
    </nav>

    <div class="d-flex-col-l gap-10">
        <h2 class="td-pink">Create a new job post</h2>
        <div class="thin line"></div>

        <form method="post" class="ml-4" novalidate>
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            {{ form|crispy }}
            <button type="submit" class="btn btn-custom-primary my-4">Create</button>
        </form>
    </div>
{% endblock %}