
{% extends 'users/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'list-posts' %}">Posts</a></li>
            <li class="breadcrumb-item"><a href="{% url 'post-detail' post.pk %}">{{ post.title }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Confirm deletion</li>
        </ol>
    </nav>

    <h2 class="mb-3">Confirm Deletion</h2>
    <p class="lead">Are you sure you want to delete the post <span class="fw-700">"{{ post.title }}"</span>? There is no going back.</p>
    <form method="post">
    {% csrf_token %}
      <div class="d-flex gap-20 my-4">
        <button type="submit" class="btn btn-custom-primary btn-lg">Yes, I'm sure</button>
        <a href="{% url 'list-posts' %}" class="btn btn-secondary btn-lg" role="button">Nevermind</a>
      </div>
  </form>
{% endblock %}