{% extends 'users/base.html' %}
{% block title %} Posts {% endblock title%}


{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Posts</li>
    </ol>
  </nav>

  {% if user.is_recruiter %}

  <h2 class="mb-3">My Posts</h2>
  <a href="{% url 'create-post' %}" class="btn btn-custom-primary mb-3" role="button">Add Post</a>

  <div class="card my-4 p-3">
    <form method="get" action="{% url 'list-posts' %}" class="d-flex gap-20">
      <label for='status-select-recruiter' class="m-0 fw-700">Choose Status:</label>
      <select value={{status}} name='status' id="status-select-recruiter" class="custom-select">
        <option value="all">All</option>
        <option value="active">Active</option>
        <option value="inactive">Inactive</option>
      </select>

      <label for='count-select' class="m-0 fw-700">Choose Candidate Count:</label>
      <select value={{candidates}} name='candidates' id="count-select" class="custom-select">
        <option value="False">All</option>
        <option value="True">At Least One</option>
      </select>

      <input type="submit" name="submit" value="Submit" class="btn btn-custom-primary"/>
    </form>
  </div>

  <div class="card mt-4">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Title</th>
          <th>Company</th>
          <th>Status</th>
          <th>Type</th>
          <th>Interested Candidates</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        {% for post in posts %}
          <tr>
            <td class="align-middle"><a href="{% url 'post-detail' post.pk %}">{{ post.title }}</a></td>
            <td class="align-middle">{{ post.company }}</td>
            <td class="align-middle">{% if post.is_expired %}Inactive{% else %}Active{% endif %}</td>
            <td class="align-middle">{{ post.position_type }}</td>
            <td class="align-middle"><a href="{% url 'interested-candidates' post.pk %}">{{ post.interested_candidates_count }}</a></td>
            <td class="text-right">
              <div class="d-flex gap-10 jc-fe f-wrap">
                <a href="{% url 'update-post' post.pk %}" class="btn btn-custom-primary">Update details</a>
                <a href="{% url 'delete-post' post.pk %}" class="btn btn-secondary" role="button">Delete Post</a>
              </div>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="7">You haven't created any posts yet.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% elif user.candidate %}

  <h2 class="mb-3">All Posts</h2>

  <div class="card my-4 p-3">
    <form method="get" action="{% url 'list-posts' %}" class="d-flex-col-l gap-10">
      <div class="d-flex gap-20">
        <label for='status-select' class="m-0 fw-700">Choose Status:</label>
        <select value={{status}} name='status' id="status-select" class="custom-select">
          <option value="all">All</option>
          <option value="active">Active</option>
          <option value="inactive">Inactive</option>
        </select>

        <label for='select-location' class="m-0 fw-700">Choose Location:</label>
        <select id="select-location" name="location" class="custom-select w-300px">
          {% for post in posts %}
          <option value={{post.location}}>{{post.location}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="d-flex gap-20">
        <label for="search" class="m-0 fw-700">Search:</label>
        <input type="text" placeholder="Search" name="search" id="search" class="custom-text w-300px">
        <input type="submit" name="submit" value="Submit" class="btn btn-custom-primary"/>
      </div>
    </form>
  </div>

  <div class="card">
      <table class="table mb-0">
      <thead>
        <tr>
          <th>Title</th>
          <th>Company</th>
          <th>Location</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for post in posts %}
          <tr>
            <td class="align-middle"><a href="{% url 'post-detail' post.pk %}">{{ post.title }}</a></td>
            <td class="align-middle">{{ post.company }}</td>
            <td class="align-middle">{{ post.location }}</td>
            <td class="text-right">
              {% if user.candidate in post.interested_candidates.all %}
              <a href="{% url 'show-interest' post.pk %}" class="btn btn-custom-primary">Applied</a>
              {% else %}
              <a href="{% url 'show-interest' post.pk %}" class="btn btn-secondary">Not Applied</a>
              {% endif %}
            </td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="7">There are no posts yet.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endif %}
{% endblock %}