{% extends "users/base.html" %}
{% block title %}Logout{% endblock title %}
{% block content %}
    <div class="vh-container d-flex-col-c">
        <div class="card" style="width: 20rem;">
            <div class="card-body d-flex-col-c text-center">
                <br><h5 class="card-title">You have been logged out</h5>
                <div class="thin w-100 line"></div><br>
                <p class="card-text mx-5">Thank you for joining us at <span class="fw-700">TinDev</span>! We hope you come back soon.</p>
                <br>
                <div class="d-flex-row-c">
                    <a href="{% url 'login' %}" class="btn btn-custom-primary as-c">Sign In Again</a>
                </div>
                <br>
            </div>
        </div>
    </div>


{% endblock content %}