{% extends 'users/base.html' %}
{% block title %} {{ user_type }} Sign Up {% endblock title%}

{% load crispy_forms_tags %}

{% block content %}

  <div class="d-flex-col-l gap-10">
    <h2 class="td-pink">Sign up as a {{ user_type }}</h2>
    <div class="thin line"></div>
    <form method="post" class="ml-4" novalidate>
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}">
      {{ form|crispy }}
      <button type="submit" class="btn btn-custom-primary my-4">Sign up</button>
    </form>
  </div>
{% endblock %}